.formControl {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
  
    &:focus {
      border-color: #86b7fe;
      box-shadow: 0 0 0 .15rem rgba(13, 110, 253, .25);
    }
  
    &[data-validation="error"] {
      border-color: #dc3545;
      &:focus {
        box-shadow: 0 0 0 .15rem rgba(220, 53, 69, .25);
      }
    }
  
    &[data-validation="success"] {
      border-color: #198754;
      &:focus {
        box-shadow: 0 0 0 .15rem rgba(25, 135, 84, .25);
      }
    }
  }